.form {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  /* background: rgba(0, 0, 0, 0.5) !important; */
  max-height: 260px;
  padding-bottom: 5px;
}
.form_heading {
  margin-top: 10px;
  color: #ffff;
  font-weight: bold;
}
.form_container {
  /* background: rgba(0, 0, 0, 0.5) !important; */
  display: flex;
}

.login {
  width: 220px;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-left: 10px;
  color: darkgray;

  font-family: cursive;
  text-shadow: 2px 1px 1px black;
  /* border-bottom: 2px double black; */
  border-radius: 10px 0px 0px 0px;
}
